{% extends 'base.html.twig' %}

{% block title %}
	Add new user
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Add new user</h1>
        {{ form(user_form) }}
	</div>
{% endblock %}
